/* General styles for weather app */
.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

/* Search bar and its input styles */
.search_bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search_bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search_bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    color: #fff;
    cursor: pointer;
}

/* Weather icon and text styles */
.weather_icon {
    width: 150px;
    margin: 30px 0;
}

.temp {
    font-size: 80px;
    line-height: 1;
}

.location {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flag_icon {
    width: 3rem;
    height: 2rem;
}

/* Weather data display styles */
.weather-data {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 32px;
    flex-basis: calc(33.33% - 12px);
    margin-bottom: 20px;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 35px;
    height: 30px;
    margin-top: 15px;
}



/* Video background styles */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* Weather container overlay */
.weather::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Dark overlay */
    z-index: -1;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
}
